header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
background-image: url('../../public/pattern3\ \(1\).png');
background-color: rgb(7, 44, 7);
}
header nav{
width: 80%;
margin:0 auto;
display: flex;
justify-content: space-between;
gap: 1em;
}
header nav li a{
    font-size: 15px;
    color: beige;
    font-weight: 700;
    text-decoration: none;
}
header nav .left{
width: 50%;
display: flex;
justify-content: flex-start;
gap: 1em;
align-items: center;
}
header nav .right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }
 header nav li{
    list-style: none;
 }
 .logo img{
    width: 30px;
 }